In [6]:
import sqlite3
import os

# 1. Ensure the directory exists
os.makedirs('data', exist_ok=True)

# 2. Use a consistent variable name (conn)
conn = sqlite3.connect(r'C:\Users\elbej\OneDrive\Documents\GitHub\ebejar-portfolio\Data-Analysis\DataAnalytics_Projects\data\employee_records.db')

# Create a cursor object
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL CHECK(typeof(name) = 'text' AND name GLOB '*[^0-9]*'),
    position TEXT NOT NULL CHECK(typeof(position) = 'text' AND position GLOB '*[^0-9]*'),
    salary REAL CHECK(salary > 0)
) STRICT;
''')

# Data to insert
data = [
    (101, 'Rai', 'Developer', 750000),
    (102, 'Bobby', 'Manager', 850000),
    (103, 'Charles', 'Analyst', 650000)
]

# Inserting data
cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?)', data)

# 3. Commit using the correct variable name
conn.commit()

# Good practice: Close the connection when done
conn.close()

In [4]:
# Creating an employee list
data = [
     (101, 'Rai', 'Developer', 750000),
     (102, 'Bobby', 'Manager', 850000),
     (103, 'Charles', 'Analyst', 650000)
]

#Inserting data into the table
cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?)', data)

#Committing changes to the database

connection.commit()

In [5]:
import os
print(os.path.abspath("employee_records.db"))

C:\Users\elbej\employee_records.db

In [7]:
import os
print(os.path.abspath("employee_records.db"))

C:\Users\elbej\OneDrive\Documents\GitHub\ebejar-portfolio\Data-Analysis\DataAnalytics_Projects\notebooks\employee_records.db